@media (max-width: 997px) {
  .services {
    height: 520px;
  }
}

@media (max-width: 770px) {
  .img1 {
    visibility: hidden;
  }

  .content {
    margin-top: -30px;
  }

  .content-lf {
    margin-top: -450px;
  }
  .services {
    height: 1300px;
    width: 100%;
  }
  .android {
    margin-top: 130px;
  }

  .windows {
    margin-top: 130px;
  }
  h5 {
    margin-top: 150px;
    margin-left: 0px;
    text-align: center;
  }

  .button2 {
    top: 260px;
    left: 40%;
  }
}

@media (max-width: 555px) {
  .button2 {
    left: 37%;
  }
}

@media (max-width: 555px) {
  .button2 {
    top: 320px;
    left: 20%;
  }
}
